@{
    ViewData["Title"] = "Account Settings";
}

@model string;

<h2>@ViewData["Title"]</h2>
<p>@ViewData["Error"]</p>
<p>@ViewData["Success"]</p>
@using (Html.BeginForm("Account", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-xs-12">
            <div asp-validation-summary="All"></div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-10">
            @Html.TextBox("Email", Model, new { @class = "form-control" })
        </div>
            <input type="submit" name="submit" value="Change Email" class="btn btn-primary" />
    </div>
}
