
@{
    ViewData["Title"] = "Dashboard";
}
@model List<Character>;
<h2>Dashboard</h2>
<ul>
    @foreach(var character in Model) {
    <div>
        @character.name<br />
        @character.charClass @character.level
    </div>
    }
</ul>