@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="character-div-title">Jack Turner</h2>
            <h3 class="character-div-title">Paladin 11</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat-proficient.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 stat-div">
            <img src="~/images/stat.png" />
            <h4 class="stat-name">STR</h4>
            <h3 class="stat-number">16</h3>
            <h5 class="stat-modifier">+3</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="character-div">
                <div class="character-div-text">
                    <p>Test test test test</p>
                </div>
            </div>
        </div>
    </div>
</div>