@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/character.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="char-div-title char-div-title-left">
                <h1>Jack Turner</h1>
                <h3>Paladin 11</h3>
            </div>
            <div class="char-div-title char-div-title-right">
                <h3>Background: Noble</h3>
                <h3>Alignment: Lawful Good</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat-proficient.png" />
            <h4 class="char-stat-name">STR</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat.png" />
            <h4 class="char-stat-name">DEX</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat.png" />
            <h4 class="char-stat-name">CON</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat.png" />
            <h4 class="char-stat-name">INT</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat.png" />
            <h4 class="char-stat-name">WIS</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
        <div class="col-lg-2 col-xs-4 char-stat-div">
            <img src="~/images/stat.png" />
            <h4 class="char-stat-name">CHA</h4>
            <h3 class="char-stat-number">16</h3>
            <h5 class="char-stat-modifier">+3</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="char-div-title">Hit Points&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"><span class="glyphicon glyphicon-minus"></h3>
        </div>
        <div class="col-lg-6 col-xs-12 char-hp-div">
            <div class="char-hp-border">
                <div class="char-hp-section">
                    <h4 class="char-hp-name">BONUS</h4>
                    <h3 class="char-hp-number">+0</h3>
                </div>
                <div class="char-hp-section">
                    <h4 class="char-hp-name">CURRENT</h4>
                    <h3 class="char-hp-number">60</h3>
                </div>
                <div class="char-hp-section">
                    <h4 class="char-hp-name">TOTAL</h4>
                    <h3 class="char-hp-number">83</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4 char-armor-div">
            <img src="~/images/shield.png" />
            <h4 class="char-armor-name">ARMOR</h4>
            <h3 class="char-armor-number">16</h3>
        </div>
        <div class="col-lg-2 col-xs-4 char-init-div">
            <div class="char-init-border">
                <h4 class="char-init-name">INITIATIVE</h4>
                <h3 class="char-init-number">+2</h3>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4 char-speed-div">
            <div class="char-speed-border">
                <h4 class="char-init-name">SPEED</h4>
                <h3 class="char-init-number">30ft</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3 class="char-div-title">Attacks</h3>
        </div>
        <div class="col-xs-12">
            <div class="char-div">
                <div class="char-div-text">
                    <p>Test test test test</p>
                </div>
            </div>
        </div>
    </div>
</div>