@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="character-div-title">Jack Turner</h2>
            <h3 class="character-div-title">Paladin 11</h3>
            <div class="character-div">
                <div class="character-div-text">
                    <p>Test test test test</p>
                </div>
            </div>
        </div>
    </div>
</div>