
.char-div-picture {
    position:absolute;
    top:116px;
    right:160px;
}

.char-div-info {

}

.char-div-picture img {
    max-height:400px;
    max-width:600px;
    object-fit:cover;
    
}

.char-div-stats {
    position:absolute;
    top:133px;
    right:1140px;
}

.char-div-equipment {
    position: absolute;
    top: 133px;
    right: 920px;
}

.char-div-weapons {
    position: absolute;
    top: 300px;
    right: 915px;
}

.equipment-nav ul {
    height: 100px;
    width: 18%;
    overflow:hidden;
    overflow-y:scroll;
    max-height: 100%;
}

.char-div-equipment-list {
    
}

.char-div-weapon-list {

}

/*This is for the entire second row of lists (spell-list and armor-list)*/
.char-div-spells-armor {
    position: absolute;
    top: 557px;
    right: 1100px;
}

.char-div-spell-list{

}

.char-div-armor-list {

}
