.create-acc-div {
    position: absolute;
    top: 80px;
    right: 1050px;
    width:200px;
    height:auto;
}

img {
    position: absolute;
    top: 70px;
    right: 520px;
    width: 500px;
    height: auto;
}