@import url('https://fonts.googleapis.com/css?family=Acme');

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.stat-div {
    font-family: 'Acme', sans-serif;
    position: relative;
    text-align: center;
}

    .stat-div img {
        max-width: 100px;
    }

    .stat-div .stat-name {
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .stat-div .stat-number {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
    }

    .stat-div .stat-modifier {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }

.character-div-title {
    font-family: 'Acme', sans-serif;
}

.character-div {
    position: relative;
    border: 4px solid black;
}

    .character-div p {
        margin: 0px;
    }

.character-div-text {
    padding: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
